@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@layer components {
  .input-range {
    -webkit-appearance: none;
    appearance: none;
    background-color: #858585;
    height: 2px;
    width: 100%;
    border-radius: 4px;
  }
  .input-range:focus,
  .input-range:active {
    outline: none;
  }
  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    display: block;
    border: 2px solid #856292;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}

@layer utilities {
  .scroll-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
}

/** 追記 **/
.bg-base{
  background: #eee;
}

.bg-primary {
  background: #76cba3;
}

.disabled\:bg-secondary-disabled:disabled,
.disabled\:bg-primary-disabled:disabled{
  background: #ccc !important;
}

.hover\:bg-secondary-hover:hover,
.hover\:bg-primary-hover:hover{
  background: #52ae83 !important;
}

.bg-secondary{
  background: #76cba3;
}

.text-primary,
.text-secondary{
  color: #333;
}

textarea{
  padding: 10px;
  height: 40px;
  overflow: auto;
  line-height: 20px !important;
  resize: none;
  background: #f7f7f7 !important;
}

textarea::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 50%;
}
textarea:focus {
  outline: none;
  background: #fff !important;
}
textarea::-webkit-scrollbar-track {
}

textarea::-webkit-scrollbar-thumb {
background-color: darkgrey;
border-radius: 50px;
}

/* レイアウト調整 */
.margin-bottom10{
  margin-bottom: 10px;
}